.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  width: auto;
  height: auto;
  transition: filter 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.53);
  z-index: 4;
}
.blur {
  pointer-events: none;
}
.custom_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.swiper_header {
  flex-grow: 1;
  text-align: center;
  font-weight: 500;
}

.report_tasks {
  margin-left: auto;
}
