.checkbox-container {
  display: flex;
}

.checkbox {
  display: none;
}

.checkbox-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox:checked + .checkbox-label {
  background-color: #21c217;
  border: 1px solid black;
}

.checkbox:checked + .checkbox-label::before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 5%;
  left: 30%;
}
.dark {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #c6c0c0;
}
