@import "../../Styles/variables.scss";

.scroll-to-top {
  @include flex-center;
  padding: $big-padding;
  border: 1px solid $primary;
  color: $primary;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1;
  background: white;
  width: 35px;
  height: 35px;
}
