@import "../../Styles/variables.scss";

.search-container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 40px 10px 40px;
  border: 1px solid $primary;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  outline: none;
}

.search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}
.focus_input {
  padding: 10px 40px 10px 10px;
}
.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.hidden {
  display: none;
}
