.swipe-container {
  position: fixed;
  bottom: 0;
  background: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  border-radius: 12px 12px 0px 0px;
  z-index: 4;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  transition: slideUp 0.3s ease-out;
  &-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 12px 12px 0px 0px;
    touch-action: auto !important;
    width: 100%;
    &-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 10px;
      background: #f0f0f0;
      border-radius: 12px 12px 0px 0px;
    }
  }
  &-remove {
    width: 60px;
    height: 5px;
    background-color: rgb(173, 173, 173);
    border-radius: 10px;
  }
}
@keyframes slideUp {
  from {
    height: 0;
  }
  to {
    height: var(--target-height);
  }
}
