@import "../../Styles/variables.scss";

.create_task_layout {
  * {
    color: inherit;
  }
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  // overflow: hidden;
}

.create_task_content {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 0;
  // Важно: делаем content flex контейнером
  & > div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.create_task_footer {
  // position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid $primary;
  background: linear-gradient(135deg, #f0f7ff, #e1eeff);
  height: 62px;
}

.create_task_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  padding: 0 10px;
}
