@import "../../Styles/variables.scss";

.header-navigation {
  @include flex-center-around;
  flex-direction: row;
  padding: 8px 0px 8px 0px;
  border-top: 1px solid $primary;
  &-child {
    @include flex-column;
    gap: $gap-small;
    padding: $small-padding;
    box-sizing: border-box;
    &-active {
      @include flex-column;
      gap: $gap-small;
      font-size: $font-size-sm;
      padding: $small-padding;
      box-sizing: border-box;
      color: $primary;
    }
    &-text {
      font-family: "Roboto", sans-serif;
      letter-spacing: -0.01em;
      font-size: $font-size-sm;
    }
  }
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.material-symbols-outlined {
  @include flex-center;

  // @media screen and (max-width: $mobile-md) {
  //   width: 18px;
  //   height: 18px;
  // }

  // @media screen and (max-width: $mobile-sm) {
  //   width: 16px;
  //   height: 16px;
  // }
}

.active {
  color: $primary;
}

.active-text {
  color: $primary;
  font-weight: 700;
}
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}
.navigation_button {
  display: flex;
  flex-direction: column-reverse;
}
.menu-button {
  @media screen and (max-width: 360px) {
    font-size: 13px;
  }
  @media screen and (max-width: 340px) {
    font-size: 12px;
  }
}
