@import "../../../../Styles/variables.scss";

.section_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px;
  border: 1px solid #d1d1d6;
  border-radius: 4px;
  &.light_border {
    border: 1px solid #c6c0c0;
  }
}

.section_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: relative;
    width: auto;
    cursor: pointer;
    padding: 4px;
    &.active_block::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #d1d1d6;
      background-color: #f0f8ff;
      border-radius: 5px;
      z-index: -1;
      opacity: 1;
      transition: opacity 0.2s ease;
    }
  }

  &_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: black;
    font-family: "Roboto", sans-serif;
  }

  &_count {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 21px;
    height: 21px;
    font-weight: 700;
    font-size: 10px;
    line-height: 160%;
    color: white;

    &.actual-tasks {
      background-color: $red;
      animation: bounce 3s infinite;
    }

    &.actual-news {
      background-color: $red;
    }

    &.dark_count {
      border: 1px solid #c6c0c0;
    }
  }

  &_update {
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    color: #6d6d72;
    font-family: "Roboto", sans-serif;
  }
}

.section_content {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 8px;
}

.section_item {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &.task-item {
    gap: 4px;
  }

  &.news-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
  }

  &_checker {
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  &_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  &_header {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 143%;
    font-size: 14px;

    &._done {
      text-decoration: line-through;
    }

    &.bold {
      font-weight: bold;
    }
  }

  &_date {
    color: gray;
    font-size: 10px;

    &.bold_date {
      font-weight: bold;
      font-size: 11px !important;
    }
  }
}

.indicator {
  width: 7px;
  height: 7px;
  background-color: green;
  border-radius: 50%;
}

.material-symbols-outlined {
  display: flex;
  align-items: center;

  &.active-arrow {
    transform: rotate(180deg);
  }
}

.section_empty {
  color: #6d6d72;
  font-size: 14px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.special-block {
  width: 100%;
  position: relative;

  &.active_block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #d1d1d6;
    background-color: #f0f8ff;
    border-radius: 5px;
    z-index: 0; // Измените на 0
    opacity: 1;
    transition: opacity 0.2s ease;
    height: 35px;
    padding: 5px;
  }
}

.section_container.problem-block {
  border-left: 4px solid #ff4757;
  background-color: #fff5f5;
}

.section_container.sending-block {
  border-left: 4px solid #2e86de;
  background-color: #f0f8ff;
}

.special-block-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  z-index: 1;
}

.section_subtitle {
  font-size: 12px;
  color: #666;
  font-weight: normal;
}

.special-block .section_header_title {
  margin-bottom: 4px;
  color: inherit;
}

.problem-block .section_header_title {
  color: #ff4757;
}

.sending-block .section_header_title {
  color: #2e86de;
}
.red {
  color: #ff4757 !important;
}

.blue {
  color: #2e86de !important;
}
