@import "../Styles/variables.scss";

.create_task_layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.create_task_content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 60px;
}

.create_task_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid $primary;
  background: linear-gradient(135deg, #f0f7ff, #e1eeff);
}

.create_task_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  padding: 0 10px;
}
